@charset "UTF-8";

#leaflet-geocode-cont ul li.powered-by-osm {
    display: block;
    padding: 9px 0;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
    pointer-events: none;
    text-align: right
}

#leaflet-geocode-cont ul li.powered-by-osm strong {
    color: #333;
    position: relative;
    padding-left: 26px
}

#leaflet-geocode-cont ul li.powered-by-osm strong:before {
    background-image: url(https://i.imgur.com/YaiaYGw.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 17px;
    width: 17px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: -2px
}

#leaflet-geocode-cont ul li.powered-by-osm:before {
    content: ""
}

.leaflet-control-geocoder {
    border-radius: 4px;
    background: #fff;
    min-width: 26px;
    min-height: 26px
}

.leaflet-touch .leaflet-control-geocoder {
    min-width: 30px;
    min-height: 30px
}

.leaflet-control-geocoder .leaflet-control-geocoder-icon, .leaflet-control-geocoder a {
    border-bottom: none;
    display: inline-block
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
    width: inherit;
    height: inherit;
    line-height: inherit
}

.leaflet-control-geocoder .leaflet-control-geocoder-icon:hover, .leaflet-control-geocoder a:hover {
    border-bottom: none;
    display: inline-block
}

.leaflet-control-geocoder-form {
    display: none;
    vertical-align: middle
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
    display: inline-block
}

.leaflet-control-geocoder-form input {
    font-size: 120%;
    border: 0;
    background-color: transparent;
    width: 246px
}

.leaflet-control-geocoder-icon {
    border-radius: 4px;
    width: 26px;
    height: 26px;
    border: none;
    background-color: #fff;
    background-image: url(images/geocoder.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer
}

.leaflet-touch .leaflet-control-geocoder-icon {
    width: 30px;
    height: 30px
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
    background-image: url(images/throbber.gif)
}

.leaflet-control-geocoder-form-no-error {
    display: none
}

.leaflet-control-geocoder-form input:focus {
    outline: 0
}

.leaflet-control-geocoder-form button {
    display: none
}

.leaflet-control-geocoder-error {
    margin-top: 8px;
    margin-left: 8px;
    display: block;
    color: #444
}

.leaflet-control-geocoder-alternatives {
    display: block;
    width: 272px;
    list-style: none;
    padding: 0;
    margin: 0
}

.leaflet-control-geocoder-alternatives-minimized {
    display: none;
    height: 0
}

.leaflet-control-geocoder-alternatives li {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    padding: 5px 8px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ccc;
    cursor: pointer
}

.leaflet-control-geocoder-alternatives li a, .leaflet-control-geocoder-alternatives li a:hover {
    width: inherit;
    height: inherit;
    line-height: inherit;
    background: inherit;
    border-radius: inherit;
    text-align: left
}

.leaflet-control-geocoder-alternatives li:last-child {
    border-bottom: none
}

.leaflet-control-geocoder-alternatives li:hover, .leaflet-control-geocoder-selected {
    background-color: #f5f5f5
}

.leaflet-control-geocoder-address-context {
    color: #666
}

.infoBox {
    border-radius: 4px
}

.map-box {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
    position: relative
}

.map-box .listing-img-container img {
    width: 100%;
    border-radius: 4px 4px 0 0
}

.map-box h4 {
    margin: 0;
    padding: 0
}

.map-box h4 a {
    padding: 0 0 2px 0;
    font-size: 17px;
    line-height: 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block
}

.listing-img-container {
    position: relative;
    height: 100%;
    display: block
}

.map-box h4 a:hover {
    color: #66676b
}

.map-box p {
    padding: 0;
    line-height: 25px;
    margin: 2px 0 0 0;
    font-size: 14px
}

.map-box ul.listing-details {
    padding: 0;
    font-size: 14px;
    display: none
}

.map-box .listing-title {
    padding: 16px 22px
}

.map-box .listing-img-content {
    padding: 18px 22px
}

.map-box .listing-img-content span {
    font-size: 21px
}

.map-box .listing-img-content .listing-price i {
    font-size: 15px;
    margin: -7px 0 0 0
}

.infoBox>img {
    position: absolute !important;
    right: 0;
    top: 0
}

.map-box .listing-img-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: linear-gradient(to top, rgba(35, 35, 37, .85) 0, rgba(35, 35, 37, .4) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
    background-color: rgba(35, 35, 37, .2)
}

.map-box .listing-item-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0 24px;
    width: 100%;
    z-index: 50;
    box-sizing: border-box
}

.map-box .listing-item-content h3 {
    color: #fff;
    font-size: 18px;
    padding: 0 0 2px 0;
    font-weight: 500;
    margin: 0;
    line-height: 27px
}

.map-box .listing-item-content span {
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    color: rgba(255, 255, 255, .7)
}

.infoBox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    z-index: 999;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    height: 29px;
    width: 29px;
    background-color: #fff;
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-family: FontAwesome;
    border-radius: 50%;
    -webkit-text-stroke: 1px #fff
}

.infoBox-close:hover {
    color: #fff;
    background-color: #66676b;
    -webkit-text-stroke: 1px #66676b
}

.map-box-icon {
    height: 38px;
    width: 38px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3685cf;
    display: block;
    color: #fff;
    font-size: 12px;
    z-index: 101;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden
}

.map-box-icon:before {
    content: "\f064";
    font-family: FontAwesome;
    position: relative;
    top: 7px;
    display: block
}

.map-box-image:hover .map-box-icon {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateX(0)
}

.map-box-image {
    position: relative;
    overflow: hidden;
    display: block
}

.infoBox {
    -webkit-animation: fadeIn .9s;
    animation: fadeIn .9s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.infoBox .star-rating {
    font-size: 16px;
    margin-top: 1px
}

.infoBox .star-rating span {
    margin-right: 3px
}

.infoBox .rating-counter {
    position: relative;
    top: -1px
}

.infoBox:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 990;
    outline: 0
}

#fixed-map-container {
    position: relative;
    top: 0;
    left: 0;
    height: 520px;
    width: 100%;
    z-index: 990;
    margin-bottom: 60px;
    outline: 0
}

.gmnoprint {
    margin: 10px
}

#fixed-map-container.fullwidth-home-map {
    height: 620px;
    margin-bottom: 0
}

#fixed-map-container.fullwidth-home-map .main-search-inner {
    position: absolute;
    display: block;
    bottom: 60px;
    top: auto;
    transform: none;
    padding-bottom: 0;
    z-index: 9999;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#fixed-map-container.fullwidth-home-map .main-search-input {
    margin-top: 0
}

.cluster img {
    display: none
}

.cluster-visible {
    text-align: center;
    font-size: 15px !important;
    color: #fff !important;
    font-weight: 500;
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    background-color: #66676b
}

.cluster-visible:before {
    border: 7px solid #66676b;
    opacity: .2;
    box-shadow: inset 0 0 0 4px #66676b;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cluster-animation 2.5s infinite
}

@keyframes cluster-animation {
    0%, 100% {
        transform: scale(1.3) rotate(0)
    }

    50% {
        transform: scale(1.5) rotate(90deg)
    }
}

.map-marker-container {
    position: absolute;
    margin-top: 10px;
    transform: translate3d(-50%, -100%, 0)
}

.marker-container {
    position: relative;
    margin: 10px auto;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    top: -5px
}

#singleListingMap .marker-container {
    cursor: default
}

.marker-container {
    perspective: 1000
}

.marker-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    position: absolute;
    z-index: 1
}

.map-marker-container.clicked .marker-card, .marker-container:hover .marker-card {
    transform: rotateY(180deg) translateY(-4px)
}

.marker-arrow {
    width: 0;
    content: "";
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0;
    border-color: #66676b transparent transparent;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 50%;
    z-index: 1
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    z-index: 100
}

.face i {
    line-height: 34px;
    font-size: 20px
}

.face.front {
    background-color: #fff;
    border: 2px solid #66676b;
    color: #66676b;
    z-index: 100
}

.face.back {
    transform: rotateY(180deg);
    box-sizing: border-box;
    background: #66676b;
    border-color: #66676b;
    color: #fff
}

.face.back i {
    trasform: scaleX(-1);
    line-height: 38px;
    font-size: 18px
}

.face.back:after {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    top: 2px;
    left: 2px;
    border: 1px solid rgba(255, 255, 255, .65);
    border-radius: 50%;
    position: absolute
}

.custom-zoom-in, .custom-zoom-out {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 15px;
    transition: color .3s, background-color .3s;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 15px;
    height: 34px;
    width: 34px
}

.custom-zoom-in:hover, .custom-zoom-out:hover {
    background-color: #66676b;
    color: #fff
}

.custom-zoom-in:before, .custom-zoom-out:before {
    font-family: FontAwesome;
    width: 100%;
    line-height: 35px;
    transition: -webkit-text-stroke .3s;
    -webkit-text-stroke: 1px #fff
}

.zoomControlWrapper {
    position: absolute;
    left: 0;
    right: auto;
    width: 70px
}

.custom-zoom-in:before {
    content: "\f067"
}

.custom-zoom-out:before {
    content: "\f068"
}

.custom-zoom-in:hover:before, .custom-zoom-out:hover:before {
    -webkit-text-stroke: 1px #66676b
}

#mapnav-buttons {
    position: absolute;
    transform: translate(0, 0);
    z-index: 999;
    font-size: 14px;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    list-style: none;
    padding: 0
}

#mapnav-buttons.top {
    top: 20px;
    right: 20px;
    bottom: auto
}

#mapnav-buttons li {
    float: left;
    margin-left: 4px;
    line-height: 20px
}

#geoLocation, #mapnav-buttons a, #scrollEnabling, #streetView {
    color: #333;
    background-color: #fff;
    padding: 7px 18px;
    padding-top: 9px;
    font-weight: 500;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .2)
}

#geoLocation:hover, #mapnav-buttons a:hover, #scrollEnabling.enabled, #scrollEnabling:hover, #streetView:hover {
    background-color: #66676b;
    color: #fff
}

#nextpoint:after, #prevpoint:before {
    font-family: FontAwesome;
    position: relative;
    font-weight: 500;
    margin: 0 0 0 6px;
    font-size: 17px;
    top: 0;
    line-height: 1px
}

#prevpoint:before {
    content: "\f104";
    margin: 0 6px 0 0
}

#nextpoint:after {
    content: "\f105";
    margin: 0 0 0 6px
}

#geoLocation, #scrollEnabling, #streetView {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    font-size: 13px;
    line-height: 21px
}

#geoLocation:before, #scrollEnabling:before, #streetView:before {
    content: "\e015";
    font-family: simple-line-icons;
    position: relative;
    top: 2px;
    margin: 0 6px 0 0;
    font-size: 15px;
    line-height: 1px
}

#scrollEnabling:before {
    margin-left: -3px
}

#streetView:before {
    content: "\f21d";
    font-family: FontAwesome;
    font-size: 16px;
    top: 1px;
    margin-right: 8px
}

#geoLocation {
    right: auto;
    left: 20px;
    padding: 8px 11px
}

#geoLocation:before {
    content: "\f192";
    font-family: FontAwesome;
    font-size: 16px;
    margin: 0;
    top: 2px
}


